body {
    margin: 0;
}

.containerAllImages {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 100px;
}


.responsive-image {
    width: 19vw;
    height: 19vw;
    border-radius: 14px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
}

.responsive-image img {
  max-width: 100%; 
  max-height: 100%;
  margin: auto;
  display: block;
}

@media (min-width: 751px)  {
    .containerAllImages {
     width: 81%;  
     padding-left: 1.6%;
    }
}
    
@media (min-width: 0px) and (max-width: 750px) {
    .responsive-image {
        width: 34.2vw;
        height: 34.2vw;
    }
    
    .containerAllImages {
        padding-left: 2.5%;
        padding-top: 10px;
    }
    
    .lightbox-opened img{
        margin-top: 20% !important;
        margin-left: -7%;
    }
    
    .lightbox-opened:before {
        margin-top: 18.5% !important;
        margin-left: -6.5% !important;
    }
}

/*lightbox*/
.lightbox-opened {
  background-color: rgba(0,0,0, 0.75);
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  /*-webkit-transition: background-color 500ms ease-out 1s;*/
  /*-moz-transition: background-color 500ms ease-out 1s;*/
  /*-o-transition: background-color 500ms ease-out 1s;*/
  /*transition: background-color 500ms ease-out 1s;*/
}
  
.lightbox-opened:before {
    color: #5168ae;
    content: "x";
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    padding: 11px 14px;
    text-transform: uppercase;
    margin-top: 127px;
    margin-left: 8px;
}
  
.lightbox-opened img {
    width: 35%;
    min-width: 300px;
    min-height: 300px;
    border: 40px solid white;
    border-right-width: 30px;
    border-left-width: 30px;
    border-radius: 15px;
    margin-top: 127px;
  }

/*// No Background Scroll*/

.no-scroll {
  overflow: hidden;
}

