body {
    margin: 0;
}

.containerAllImages {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 100px;
}


.responsive-image {
    max-width: 18.8vw;
    max-height: 18.8vw;
    border-radius: 14px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 0;
}

.open-lightbox {
    text-decoration: none;
}

@media (min-width: 751px)  {
    .containerAllImages {
     width: 81%;  
     padding-left: 1.6%;
    }
}
    
@media (min-width: 0px) and (max-width: 750px) {
    .responsive-image {
        max-width: 34.2vw;
        max-height: 34.2vw;
    }
    
    .containerAllImages {
        padding-left: 2.5%;
        padding-top: 10px;
    }
    
    .lightbox-opened img{
        margin-top: 20% !important;
        margin-left: -7%;
    }
    
    .lightbox-opened:before {
        margin-top: 18.5% !important;
        margin-left: -6.5%;
}

/*lightbox*/
.lightbox-opened {
  background-color: rgba(0,0,0, 0.75);
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s;
}
  
.lightbox-opened:before {
    color: #5168ae;
    content: "x";
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    padding: 11px 14px;
    text-transform: uppercase;
    margin-top: 13%;
}
  
.lightbox-opened img {
    width: 35%;
    min-width: 300px;
    min-height: 300px;
    border: 40px solid white;
    border-right-width: 30px;
    border-left-width: 30px;
    border-radius: 15px;
    margin-top: 13%;
  }


/*// No Background Scroll*/

.no-scroll {
  overflow: hidden;
}

/*.open-lightbox {*/
/*  -webkit-transition:.5s ease-in-out;*/
/*  -moz-transition:.5s ease-in-out;*/
/*  -ms-transition:.5s ease-in-out;*/
/*  -o-transition:.5s ease-in-out;*/
/*}*/

/*.long-animate {*/
/*  -webkit-transition: .5s .5s ease-in-out;*/
/*  -moz-transition: .5s .5s ease-in-out;*/
/*  -ms-transition: .5s .5s ease-in-out;*/
/*  -o-transition:.5s .5s ease-in-out;*/
/*  transition:.5s .5s ease-in-out;*/
/*}*/